.hidden {
  display: none;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-size: 80px;
  position: absolute;
  top: 15%;
}

h2 {
  color: white;
  font-size: 140px;
  position: absolute;
  top: 25%;
}

#login-form {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 20%;
}

#login-form input {
  border-radius: 5px;
}

#weather {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 75%;
}

#quote {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 70%;
}

#todo-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 10px;
  list-style: none;
  color: white;
  font-size: 20px;
  position: fixed;
  bottom: 30px;
  right: 50px;
}

li {
  margin-top: 5px;
}

#todo-form {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 80%;
}

#todo-form input {
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 30px;
}

button {
  color: white;
  margin-left: 3px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: black;
}
